.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
    padding: 0;
    margin: 0;
  }

:root {
    --main-blue: rgb(17,106,252);
    --light-blue: rgb(71, 137, 244);
    --alpha-blue: rgba(17,106,252,0.4);
    --alpha-blue-8: rgba(17,106,252,0.8);
    --main-red: rgb(233, 73, 24);
    --main-yellow: rgb(248, 192, 51);
    --light-yellow: rgb(248, 208, 108);
    --alpha-red: rgba(233, 73, 24, 0.5);
}

.zoom-effect img{
    transition: transform 0.4s ease-in-out;
}

.zoom-effect:hover img {
    transform: scale(1.1);
    filter: brightness(90%);
}