@media only screen and (max-width: 770px) {
    .top-header span {
        font-size: 0 !important;
    }

    .top-header--right-side li {
        border: none !important;
    }
}

.top-header {
    background-color: var(--alpha-blue);
    color: white;
}

.top-header--right-side {
    float: right;
    list-style: none;
    margin: 0;
    margin-left: 20px;

    li {
        display: inline;
        padding: 0px 10px;
        cursor: pointer;

        &:not(:last-child) {
            border-right: solid 2px #fff
        }
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}