.tour-detail-page {
    .basic-info {
        font-size: 15px;
        
        .data-label {
            text-transform: uppercase;
            padding-right: 6px;
            font-weight: 300;
            color: #555;
        }
        
        .data-value {
            font-weight: bold;
        }
    } 
}