.wrapper {
    background-color: transparent;
}

.wrapper.top {
    .navbar {
        padding: 1px;
    }

    .navbar-nav .menu-item:hover{
        color: var(--main-red) !important;
        font-weight: bold;
    }
    .navbar-nav > .menu-item {
        color: black !important;
        border-bottom: 1.2px solid #ccc;
        a.dropdown-toggle.nav-link {
            color: black !important;
        }
    }

    hr {
        border: none;
        border-top: 1.2px solid #555;
        width: 100%;
        height: .7px;
        border-radius: 10px;
        margin: 2px auto;
    }

}


.navbar-nav .menu-item {
    a.dropdown-toggle.nav-link {
        color: white !important;
    }
    color: white !important;
    // padding: 0px !important;
    margin-right: 10px;
    border-bottom: 1.2px solid #fff;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: var(--main-red);
        font-weight: bold;
        border-bottom: 1.2px solid transparent;
        opacity: 1;
    }

    &::after {
        content: "";
        height: 3px;
        left: 0;
        bottom: -3px;
        width: 0px;
        position: absolute;
        background-color: var(--main-red);
        transition: width 0.2s ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }
}


.navbar-brand {
    color: white !important;
    font-size: 3vw;
    background-color: var(--main-red);
    padding: 1px 15px;
    border-radius: 10px;
}